@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    background-color: #fafafa;
    font-family: 'Montserrat';
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a, a:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

li > .fab {
    cursor: pointer;
}
li > .fa-ellipsis-v{
    margin-right: 15px;
    font-size: 0.8rem;
}

.header-inner {
    width: 1200px;
    height: 85px;
    margin: 0 auto;
    background-color: #eee;
    display: flex;
    box-shadow: 1px 1px #dedede;
}

#main-logo {
    background-color: #fff;
    display: inline-block;
    width: 180px;
    padding-right: 50px;
    text-align: center;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 80px;
    box-shadow: 1px 1px #dedede;
}

#top-menu {
    display: flex;
    margin-left: 690px;

}

#top-menu > ul > li {
    font-weight: bold;
    display: inline-block;
    font-size: 1rem;
    padding: 25px 15px;
    margin: 5px;
}

#top-icon > ul > li {
    display: inline-block;
    padding-top: 30px;
}

#top-icon > ul > li:nth-child(3) {
    margin-right: 35px;
}

#top-search {
    line-height: 85px;
}

#top-icon {
    float:right;
}

#top-icon .fab {
    font-size: 25px;
}

.section-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.side-category {
    width: 180px;
    height: 100%;
    padding : 20px 0 0 20px;
    font-weight: bold;
    background: #fdfdfd;
}
.category-title{
    font-size : 1.0rem;
    margin-bottom: 15px;
}
.side-category>ul>li{
    margin : 10px 10px 10px 10px;
    color : #606060;
}
.side-category>ul>li:last-child{
    margin : 10px 10px 30px 10px;
}
