@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');

html, body {
    background-color: #fafafa;
    font-family: 'Montserrat','Jeju Gothic';
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a, a:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

li > .fab {
    cursor: pointer;
}
li > .fa-ellipsis-v{
    margin-right: 15px;
    font-size: 0.8rem;
}

.header-inner {
    width: 1200px;
    height: 85px;
    margin: 0 auto;
    background-color: #eee;
    display: flex;
    box-shadow: 1px 1px #dedede;
    position: fixed;
    z-index: 2;
    left: 50%;
    margin-left: -600px;
    box-shadow: 3px 4px 6px -2px rgba(40,40,40,.5);
}

#main-logo {
    background-color: #fff;
    display: inline-block;
    width: 180px;
    padding-right: 50px;
    text-align: center;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 80px;
    box-shadow: 1px 1px #dedede;
}

#top-menu {
    display: flex;
    margin-left: 530px;

}

#top-menu > ul > li {
    font-weight: bold;
    display: inline-block;
    font-size: 1rem;
    padding: 25px 15px;
    margin: 5px;
}

#top-icon > ul > li {
    display: inline-block;
    padding-top: 30px;
}
#top-login>ul>li{
    display: inline-block;
    line-height: 85px;
    margin: auto 5px;
    font-weight: bold;
    font-size: 1rem;
}
#top-login>ul>li:last-child{
    margin-right: 20px;
}

#top-icon > ul > li:nth-child(3) {
    margin-right: 35px;
}

#top-search {
    line-height: 85px;
}

#top-icon {
    float:right;
}

#top-icon .fab {
    font-size: 25px;
}
#top-menu li>a:hover ,
.category-title a:hover {
    color: #888;
}

.side-category >ul>li:hover{
    color: black;
}

.section-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.side-category {
    width: 180px;
    height: 100%;
    padding : 20px 0 0 20px;
    font-weight: bold;
    background: #fdfdfd;
    position: fixed;
    display: inline-block;
    box-shadow: 3px 2px 5px -2px rgba(40,40,40,.5);
    margin-top: 85px;
    z-index : 3;
}
.main-content{
    margin-left: 180px;
    height: 1000px;
    color : white;
    background-color: #eeeeee;
    font-size: 1.2rem;
    position: relative;
    top: 85px;
    height: 100%;
    box-shadow: 3px 2px 5px -2px rgba(40,40,40,.5);
}
.home-logo{
    background: linear-gradient(
            rgba(0, 0, 0, 0.20),
            rgba(0, 0, 0, 0.20)
    ),
    url("/images/home-logo.png");
    box-shadow: 3px 5px 5px -2px rgba(40,40,40,.5);

    height: 477px;
    background-size: 1023px 477px;
    color : white;
    font-size: 3rem;
}
.home-logo:after{
    background-color:rgba(255,255,255,0.1);
    z-index: 5;
}

.home-logo>div:nth-child(1){
    padding-top: 350px;
    padding-left: 20px;
}
.home-logo>div:nth-child(2){
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 23px;
}

.category-title{
    font-size : 1.0rem;
    margin-bottom: 15px;
}
.side-category>ul>li{
    margin : 10px 10px 10px 5px;
    color : #606060;
}
.side-category>ul>li:last-child{
    margin : 10px 10px 30px 5px;
}
.under-content-wrapper{
    display:flex;
    color:black;
    height: 412px;
    font-weight: 600;
    height: 100%;
}
.post-title,.post-title,.post-category,.post-article,.post-date{
    font-family: 'Jeju Gothic';
}
.latest-posts{
    width: 600px;
    padding: 25px;
    border-right: solid 1px #DEDEDE;
}
.posts-category{
    color : #606060;
    font-weight: bolder;
    font-size: 1.0rem;
}


.post-title{
    margin-bottom: 0.5rem;
    color : #323232;
}
.post-article{
    font-size: 0.9rem;
    font-weight: 500;
    color : #333;
    margin-bottom: 0px;
}
.post-category,.post-date,.post-more{
    font-family: 'Jeju Gothic';
    font-weight: lighter;
    font-size: 0.9rem;
    color :#606060;
}
.latest-posts>ul>li .fa-caret-right,.popular-posts>ul>li .fa-caret-right{
    float : right;
    margin-left: 5px;
    line-height: 1.7;
    color :#606060;
}
.post-more{
    color:#333;
    font-weight: 500;
    margin-top: 6px;
    float: right;
}


.post-category{
    margin-right: 10px;
}
.latest-posts>ul>li{
    margin-bottom: 20px;
}

.popular-posts{
    width: 420px;
    padding : 25px;
}
